<!DOCTYPE html>
<html>
  <head>
    <title>Reviewmee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render "shared/css"%>
  </head>

  <body style="background-color:black">
    <% images = %w[coach.jpg fashion.jpg medical.jpg tradle.jpg] %>
    <header class="hero-section" style="background: url(../img/<%= images[Random.rand(3)] %>) center center no-repeat;">
      <%= render "shared/navbar" %>
    </header>

    <%= yield %>

    <%= render "shared/footer"%>
    <%= render "shared/copy_right"%>
    <%= render "shared/js"%>
  </body>
</html>
