<!DOCTYPE html>
<html>
  <head>
    <title>Reviewmee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render "shared/css"%>
  </head>

  <body>
    <%= yield %>
    <%= render "shared/modals" %>
    <%= render "shared/js"%>
  </body>
</html>
